@using Microsoft.AspNet.Identity
@using HelpDeskTeamProject.Services
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Help Desk</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="Shortcut Icon" href="~/Content/favicon.png" type="image/x-icon" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #3c3c3c; border:none">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Help Desk", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Teams", "Tickets", "Ticket")</li>
                        <li>@Html.ActionLink("Create team", "Create", "Teams")</li>
                    }

                    @if (AdminService.CreateAdminButton(User.Identity.GetUserName()))
                    {
                        <li><button type="button" class="btn btn-info" style="margin-top: 8px"onclick="location.href='@Url.Action("Index", "Admin")'">Admin Panel</button></li>
                    }



                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
